<header>
  <h1>{{title}}</h1>
  <a href="/">Weather</a>
  <a href="/about">About Me</a>
  <a href="/help">Help</a>
  <a href="mailto:satyakiroy001@gmail.com?subject=Query">Reach Me</a>
</header>
<br>
